html {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  background-color: #eee9de;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

section {
  max-width: 25em;
  min-width: 0;
  width: 100%;

  display: block;

  margin-top: 0;
  margin-left: .4em;
  margin-right: .4em;
  margin-bottom: .5em;
}

img {
  width: 100%;
  display: block;
  text-align: center;
}

.title {
  display: inline-block;
  text-align: left;

  padding-left: .4em;
  padding-bottom: .5em;
}

.text {
  display: inline-block;
  text-align: left;

  padding-left: .4em;
  padding-bottom: .5em;
}

.btn {
  max-width: 25em;
  min-width: 0;
  border: 1px solid #333;

  border-radius: 5px;

  margin: 1.5rem;

  padding: .4em .5em;
  vertical-align: middle;
  text-align: center;

  text-decoration: none;
  list-style-type: none;
}

.btn:hover {
  width: 50%;
  max-width: 25em;
  min-width: 0;
  border: 1px solid #333;
  background-color: #666;

  border-radius: 5px;

  margin: 1.5rem;

  padding: .4em .5em;
  vertical-align: middle;
  text-align: center;

  text-decoration: none;
  list-style-type: none;
}
