html {
  box-sizing: border-box;
  font-family: Lato, sans-serif;
  background-color: #eee9de;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

section {
  max-width: 25em;
  width: 100%;

  display: block;

  margin-top: 0;
  margin-left: .4em;
  margin-right: .4em;
  margin-bottom: .5em;
}

img {
  width: 100%;
  display: block;
  padding-top: 2em;
  padding-left: .4em;
  padding-right: .4em;
}

.title {
  display: inline;
  padding: 2em .4em;
}

.text {
  display: inline;
  padding: 2em .4em;

}

.btn {
  border: 1px solid #333;
  background-color: #eee9de;
  border-radius: 5px;
  padding: .4em .5em;

  text-align: center;
  text-decoration: none;
  list-style-type: none;
}

.btn:hover {
  border: 1px solid #333;
  background-color: #666;
  border-radius: 5px;
  padding: .4em .5em;

  text-align: center;
  text-decoration: none;
  list-style-type: none;
}
