html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #eee9de;
  font-family: Lato, sans-serif;
  line-height: 1.5;
  margin: 1.5rem;
}

figure {
  display: inline-block;
  text-align: center;
}

.title {

}

.text {

}

.button {
  border: 1px solid #666;
  border-radius: 5px;
  padding: .4em .5em;
  display: inline;
  text-align: center;
  float: left;

  background-color: #eee9de;
  font-family: Lato, sans-serif;
  font-weight: bold;
  font-size: 12px;
  color: #333;
}

.button:hover {
  background-color: #666;
  border: 1px solid #333;
  border-radius: 5px;
  padding: .4em .5em;
}
